.game-room {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    position: relative;

    .fade-enter {
        opacity: 0.01;
    }

    .fade-enter.fade-enter-active {
        opacity: 1;
        transition: opacity 250ms ease;
    }

    .fade-leave {
        opacity: 1;
    }

    .fade-leave.fade-leave-active {
        opacity: 0.01;
        transition: opacity 250ms ease;
    }

    .menu-button {
        position: absolute;

        top: 3vh;
        left: -1.5vw;

        background: $color-theme-second;

        border-radius: 5px;

        @include box-shadow(0px, 0px, 32px, rgba(0,0,0,0.5));
        @include transition(all .3s ease);

        border: none;

        .ic-menu {
            background: url("/res/ic_menu_white.png") no-repeat;
            background-size: cover;
            width: 3vw;
            height: 3vw;
        }
        
        &:focus { outline:none; }
        &:hover { left: 0; }
    }

    .spectator-controls-show-hand {
        position: absolute;
        right: 0;
        top: -70px;

        height: 48px;
    }

    .spectator-controls-left {
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;

        background: url("/res/ic_left_arrow.png") no-repeat center $color-theme-dark;
        background-size: 40px 40px;

        width: 48px;
        height: 84px;
    }

    .spectator-controls-right {
        position: absolute;
        right: 0;
        top: 0;
        bottom: 0;

        background: url("/res/ic_right_arrow.png") no-repeat center $color-theme-dark;
        background-size: 40px 40px;

        width: 48px;
        height: 84px;
    }

    .in-game-menu {
        position: absolute;
        display: flex;
        flex-direction: column;
        background: $color-theme-second;
        border-radius: 5px;

        @include box-shadow(0px, 0px, 32px, rgba(0,0,0,0.5));
        left: -6px;
        top: 3vh;
        padding-left: 6px;

        button {
            @include transition(all .3s ease);
            display: inline-block;
            padding: 0.7vw 2vw 0.7vw 2vw;
            align-self: flex-end;
            background-color: transparent;
            text-decoration: none;
            color: $theme-font-color;
            border: none;

            width: 100%;
        }

        button:hover {
            background-color: rgba(0, 0, 0, 0.5);
        }

        button:focus { outline:none; }
    }

    @include keyframes(special-text-animation-r) {
        0% { 
            opacity: 0; 
            transform: translateX(-140px);
        }
        25% { 
            opacity: 1; 
            transform: translateX(-10px);
        }
        75% { 
            opacity: 1; 
            transform: translateX(10px);
        }
        100% {
            opacity: 0;
            transform: translateX(140px);
        }
    }

    @include keyframes(special-text-animation-l) {
        0% { 
            opacity: 0; 
            transform: translateX(140px);
        }
        25% { 
            opacity: 1; 
            transform: translateX(10px);
        }
        75% { 
            opacity: 1; 
            transform: translateX(-10px);
        }
        100% {
            opacity: 0;
            transform: translateX(-140px);
        }
    }

    @include keyframes(fade-in-out) {
        0% { 
            opacity: 0; 
        }
        22% { 
            opacity: 1; 
        }
        78% { 
            opacity: 1; 
        }
        100% {
            opacity: 0;
        }
    }

    .special-text-container {
        @include transition(all .3s ease);
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: rgba(0, 0, 0, 0.9);

        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        padding: 1vh;
        opacity: 0;
        @include animation(fade-in-out 1.3s);

        z-index: 1;

        div {
            font-family: $theme-condensed-style;
            font-size: 5vh;
            color: #fff;
        }

        div.right {
            opacity: 0;
            @include animation(special-text-animation-r 1.3s ease-in);
        }
        div.left {
            opacity: 0;
            @include animation(special-text-animation-l 1.3s ease-in);
        }
    }

    .special-text-container-fast {
        @extend .special-text-container;
        @include animation(fade-in-out 0.8s);

        div {
            font-family: $theme-condensed-style;
            font-size: 5vh;
            color: #fff;
        }

        div.right {
            opacity: 0;
            @include animation(special-text-animation-r 0.8s ease-in);
        }
        div.left {
            opacity: 0;
            @include animation(special-text-animation-l 0.8s ease-in);
        }   
    }

    .dialog-container {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        z-index: 10;

        a {
            @include transition(all .3s ease);
            display: inline-block;
            padding: 0.7vw 2vw 0.7vw 2vw;
            align-self: flex-end;
            background-color: $color-theme-dark;
            @include box-shadow(0px, 0px, 1vw, rgba(0,0,0,0.5));
            text-decoration: none;
            color: $theme-font-color;
        }

        a:hover {
            background-color: $color-theme-darker;
        }

        .timed-dialog {
            flex: 1 auto;

            padding: 16px;

            min-width: 24vw;
            min-height: 24vh;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            background-color: $color-theme-second;
            @include box-shadow(0px, 5px, 1vh, rgba(0,0,0,0.5));
            
            border-radius: 5px;

            h1 {
                font-weight: 700;
                font-size: small;
            }

            p {    
                font-size: x-large;
                margin-top: 0.5vh;
            }
        }
    }

    .toast-container {
        position: fixed;
        width: 100%;
        display: flex;
        top: 0;
        
        align-items: center;
        justify-content: center;
        pointer-events: none;
        
        .toast-inner-container {
            padding-top: 4vh;
            
            .toast {
                pointer-events: auto;
                background: $color-theme-second;
                padding: 20px;

                @include box-shadow(0px, 0px, 32px, rgba(0,0,0,0.5));
                border-radius: 5px;
            }
        }
    }

    .top-content {
        flex: 2 0;
        display: flex;
        flex-direction: row;

        .left-side {
            order: 1;
            flex: 1 auto;
        }

        .right-side {
            order: 3;
            flex: 1 auto;
        }

        .main-side {
            order: 2;
            flex: 2 auto;
            display: flex;
            flex-direction: column;

            .top-side {
                flex: 1 auto;
                display: flex;
                flex-direction: row;
            }
        }

        .player-holder {
            flex: 1 auto;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: flex-start;
        }
    }

    .bot-content {
        flex: 1 0;
        display: flex;
        flex-direction: row;

        .chat-box {
            flex: 1 auto;
        }

        .bottom-spacer {
            flex: 3 auto;
        }

        .bottom-spacer2 {
            flex: 2 auto;
        }

        .bottom-player-space {
            margin-top: 6vh;
            flex: 3 0;
            position: relative;
            display: flex;
            flex-direction: row;

            justify-content: center;
        }

        .waiting-container {
            flex: 1 0 auto;
            position: relative;

            .waiting-content {
                margin-left: 20px;
                margin-right: 20px;
                max-width: 300px;
                padding: 10px;
                width: 100%;
                height: 100%;
                position: absolute;

                display: flex;
                flex-direction: column;

                background: $color-theme-dark-light;
                @include box-shadow(0px, 0px, 1vw, rgba(0,0,0,0.5));
                
                a {
                    margin-top: 10px;
                    font-size: x-large;
                }

                h1 {
                    margin: 0 0 0 0;
                    font-size: large;
                }

                p {
                    margin: 0;
                }
            }
        }

        .my-cards {
            @extend .bottom-spacer;
        }
    }



    .how-to-play-view {
        display: flex;
        flex-direction: column;
        background: $color-theme-second;
        padding: 20px;

        border-radius: 5px;

        @include box-shadow(0px, 0px, 32px, rgba(0,0,0,0.5));

        width: 40vw;
        height: 70vh;

        .nano > .nano-pane > .nano-slider {
            background: #444;
        }

        p {
            margin-top: 0.5em;
        }

        h1 {
            font-size: x-large;
            font-weight: 300;
        }

        h2 {
            font-size: large;
            font-weight: 700;

            margin-bottom: 0.5em;
        }

        h3 {
            font-size: medium;
            font-weight: 700;

            margin-bottom: 0px;   
        }

        .instructions-container {
            flex: 1 0 0;
        }

        .instructions {
            margin-right: 20px;
        }
    }


    .options-view {
        display: flex;
        flex-direction: column;
        background: $color-theme-second;
        padding: 20px;

        border-radius: 5px;

        @include box-shadow(0px, 0px, 32px, rgba(0,0,0,0.5));

        min-width: 40vw;

        max-width: 800px;

        .nano > .nano-pane > .nano-slider {
            background: #444;
        }

        p {
            margin-top: 0.5em;
        }

        h1 {
            font-size: x-large;
            font-weight: 300;
        }

        h2 {
            font-size: large;
            font-weight: 700;

            margin-bottom: 0.5em;
        }

        h3 {
            font-size: medium;
            font-weight: 700;

            margin-bottom: 0px;   
        }

        .instructions-container {
            flex: 1 0 0;
        }

        .instructions {
            margin-right: 20px;
        }
    }
}