@import 'normalize';
@import 'player';
@import 'chatbox';
@import 'this_player';
@import 'info_bar';
@import 'menu_bar';
@import 'game_board';
@import 'dialog_game_over';
@import 'history_dialog';
@import 'sign_in_view';
@import 'lobby_view';
@import 'game_room';
@import 'surrender_vote_view';
@import 'dev_console';
@import 'options_view';
@import 'signup';
@import 'text_field';
@import 'tooltip';

html, body {
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.main-container {
    width: 100%;
    height: 100%;

    .dim-filter {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);

        display: flex;
        flex-direction: row;

        justify-content: center;
        align-items: center;

        z-index: 100;

        .message-box {
            padding: 0.7vw 2vw 0.7vw 2vw;
            background-color: $color-theme-second;
            @include box-shadow(0px, 0px, 1vw, rgba(0,0,0,0.5));
            text-decoration: none;
            color: $theme-font-color;

            display: flex;
            flex-direction: column;
        }
    }

    .broadcast-container {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;

        max-height: 53px;

        background: #111;
        @include box-shadow(0px, 0px, 1vw, rgba(0,0,0,0.5));

        position: relative;

        .broadcast {
            display: inline-block;
        }

        .btn-close {
            position: absolute;
            right: 0;
            top: 0;
            bottom: 0;
            width: 53px;
            background: url("/res/ic_close.png") center no-repeat;
            text-decoration: none;
            border: none;

            @include transition(all .3s ease);

            &:hover {
                background-color: $color-theme-darker;
            }

            &:focus { 
                background-color: darken($color-theme-darker, 5%);
                outline: none;
            }
        }
    }
}

.ui-tooltip { 
    position: absolute; 
    background: $color-theme-second;

    padding: 10px 16px 10px 16px;
    @include box-shadow(0px, 0px, 32px, rgba(0,0,0,0.5));
    border-radius: 5px;
}

// Nano stuff
.nano {
    position : relative;
    width    : 100%;
    height   : 100%;
    overflow : hidden;
}
.nano > .nano-content {
    position      : absolute;
    overflow      : scroll;
    overflow-x    : hidden;
    top           : 0;
    right         : 0;
    bottom        : 0;
    left          : 0;
}
.nano > .nano-content:focus {
    outline: none;
}
.nano > .nano-content::-webkit-scrollbar {
    display: none;
}
.has-scrollbar > .nano-content::-webkit-scrollbar {
    display: block;
}
.nano > .nano-pane {
    background : rgba(0,0,0,.25);
    position   : absolute;
    width      : 10px;
    right      : 0;
    top        : 0;
    bottom     : 0;
    visibility : hidden\9; /* Target only IE7 and IE8 with this hack */
    opacity    : .01;
    -webkit-transition    : .2s;
    -moz-transition       : .2s;
    -o-transition         : .2s;
    transition            : .2s;
    -moz-border-radius    : 5px;
    -webkit-border-radius : 5px;
    border-radius         : 5px;
}
.nano > .nano-pane > .nano-slider {
    background: rgba(0,0,0,.5);
    position              : relative;
    margin                : 0 1px;
    -moz-border-radius    : 3px;
    -webkit-border-radius : 3px;
    border-radius         : 3px;
}
.nano:hover > .nano-pane, .nano-pane.active, .nano-pane.flashed {
    visibility : visible\9; /* Target only IE7 and IE8 with this hack */
    opacity    : 0.99;
}
// ^^^ Nano stuff ^^^

.join-game {
    padding: 20px 30px 20px 30px;
    font-size: xx-large;
}

.join-game-container {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.load-container {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    #pie-progress-bar {
        width: 50vh;
        height: 50vh;
    }
}

#main {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.spinner {
    text-align: center;
}

.spinner > div {
    width: 18px;
    height: 18px;
    background-color: #fff;

    margin-right: 5px;
    margin-left: 5px;

    border-radius: 100%;
    display: inline-block;
    -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
    animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

.spinner .bounce1 {
    -webkit-animation-delay: -0.32s;
    animation-delay: -0.32s;
}

.spinner .bounce2 {
    -webkit-animation-delay: -0.16s;
    animation-delay: -0.16s;
}

@-webkit-keyframes sk-bouncedelay {
    0%, 80%, 100% { -webkit-transform: scale(0) }
    40% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bouncedelay {
    0%, 80%, 100% { 
        -webkit-transform: scale(0);
        transform: scale(0);
    } 40% { 
        -webkit-transform: scale(1.0);
        transform: scale(1.0);
    }
}

// react transitions
.fade-appear {
    opacity: 0.01;
    transition: opacity .3s ease;
}

.fade-appear.fade-appear-active {
    opacity: 1;
}

.fade-enter {
    opacity: 0.01;
}

.fade-enter.fade-enter-active {
    opacity: 1;
    transition: opacity .3s ease;
}

.fade-leave {
    opacity: 1;
}

.fade-leave.fade-leave-active {
    opacity: 0.01;
    transition: opacity .3s ease;
}


.drop-enter {
    transform: translateY(-100%);
}

.drop-enter.drop-enter-active {
    transform: translateY(0);
    //transform: none;
    transition: all .3s ease;
}

.drop-leave {
    opacity: 1;
}

.drop-leave.drop-leave-active {
    opacity: 0.01;
    transition: opacity .3s ease-in;
}




.slide-right-enter {
    transform: translateX(-100%);
    opacity: 0.01;
}

.slide-right-enter.slide-right-enter-active {
    transform: none;
    opacity: 1;
    transition: all .3s ease;
}

.slide-right-leave {
    transform: none;
    opacity: 1;
}

.slide-right-leave.slide-right-leave-active {
    transform: translateX(-100%);
    opacity: 0.01;
    transition: all .3s ease;
}



.slide-up-enter {
    transform: translateY(100%);
    opacity: 0.01;
}

.slide-up-enter.slide-up-enter-active {
    transform: none;
    opacity: 1;
    transition: all .3s ease;
}

.slide-up-leave {
    transform: none;
    opacity: 1;
}

.slide-up-leave.slide-up-leave-active {
    transform: translateY(100%);
    opacity: 0.01;
    transition: all .3s ease;
}




.expand-enter {
    height: 0;
    opacity: 0.01;
}

.expand-enter.expand-enter-active {
    height: 53px;
    opacity: 1;
    transition: all .3s ease;
}

.expand-leave {
    height: 53px;
    opacity: 1;
}

.expand-leave.expand-leave-active {
    height: 0;
    opacity: 0.01;
    transition: all .3s ease;
}