@import 'normalize';
@import 'player';
@import 'chatbox';
@import 'this_player';
@import 'info_bar';

html, body {
  height: 100%;
  overflow: hidden;
}

.game-room {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  position: relative;

  .toast-container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #000;

    display: flex;
    align-items: center;

    .toast {
      flex: 1 auto;

      padding: 16px;

      min-width: 24vw;
      min-height: 24vh;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    // .toast {
    //   position: relative;
    //   top: -50%;
    //   left: -50%;
    //   padding: 16px;
    //   background-color: #000;
    // }

    h1 {
      text-align: center;
      font-family: $theme-condensed-style;
      font-size: small;
    }

    p {
      margin-top: 0px;
      font-size: large;
      color: #fff;
    }
  }

  .top-content {
    flex: 2 0;
    display: flex;
    flex-direction: row;

    .left-side {
      order: 1;
      flex: 1 auto;
    }

    .right-side {
      order: 3;
      flex: 1 auto;
    }

    .main-side {
      order: 2;
      flex: 2 auto;
      display: flex;
      flex-direction: column;
    }

    .top-size {
      flex: 1 auto;
      display: flex;
      flex-direction: row;
    }

    .player-holder {
      flex: 1 auto;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: flex-start;
    }
  }

  .bot-content {
    flex: 1 0;
    display: flex;
    flex-direction: row;

    .chat-box {
      flex: 1 auto;
    }

    .bottom-spacer {
      flex: 3 auto;
    }

    .bottom-spacer2 {
      flex: 2 auto;
    }

    .bottom-player-space {
      flex: 3 0;
      position: relative;
      display: flex;
      flex-direction: row;

      justify-content: center;
    }

    .waiting-container {
      flex: 1 0 auto;
      position: relative;

      .waiting-content {
        margin-left: 20px;
        margin-right: 20px;
        max-width: 300px;
        padding: 10px;
        width: 100%;
        height: 100%;
        position: absolute;
        background-color: $color-theme-dark;

        display: flex;
        flex-direction: column;
        
        a {
          margin-top: 10px;
          font-size: x-large;
        }

        h1 {
          margin: 10px 0 0 0;
          font-size: large;
        }

        p {
          margin: 0;
        }
      }
    }

    .my-cards {
      @extend .bottom-spacer;
    }
  }
}

// Nano stuff
.nano {
  position : relative;
  width    : 100%;
  height   : 100%;
  overflow : hidden;
}
.nano > .nano-content {
  position      : absolute;
  overflow      : scroll;
  overflow-x    : hidden;
  top           : 0;
  right         : 0;
  bottom        : 0;
  left          : 0;
}
.nano > .nano-content:focus {
  outline: none;
}
.nano > .nano-content::-webkit-scrollbar {
  display: none;
}
.has-scrollbar > .nano-content::-webkit-scrollbar {
  display: block;
}
.nano > .nano-pane {
  background : rgba(0,0,0,.25);
  position   : absolute;
  width      : 10px;
  right      : 0;
  top        : 0;
  bottom     : 0;
  visibility : hidden\9; /* Target only IE7 and IE8 with this hack */
  opacity    : .01;
  -webkit-transition    : .2s;
  -moz-transition       : .2s;
  -o-transition         : .2s;
  transition            : .2s;
  -moz-border-radius    : 5px;
  -webkit-border-radius : 5px;
  border-radius         : 5px;
}
.nano > .nano-pane > .nano-slider {
  background: #444;
  background: rgba(0,0,0,.5);
  position              : relative;
  margin                : 0 1px;
  -moz-border-radius    : 3px;
  -webkit-border-radius : 3px;
  border-radius         : 3px;
}
.nano:hover > .nano-pane, .nano-pane.active, .nano-pane.flashed {
  visibility : visible\9; /* Target only IE7 and IE8 with this hack */
  opacity    : 0.99;
}
// Nano stuff

a {
  @include transition(all .3s ease);
  cursor: pointer;
  padding: 10px 20px 10px 20px;
  text-align: center;
  background-color: $color-theme-light;
}

a:hover {
  background-color: $color-theme-lighter;
}

.join-game {
  padding: 20px 30px 20px 30px;
  font-size: xx-large;
}

.join-game-container {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

#main {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.main-container {
  width: 100%;
  height: 100%;
}

.button {
}

.spinner {
  text-align: center;
}

.spinner > div {
  width: 18px;
  height: 18px;
  background-color: #fff;

  margin-right: 5px;
  margin-left: 5px;

  border-radius: 100%;
  display: inline-block;
  -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

.spinner .bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.spinner .bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

@-webkit-keyframes sk-bouncedelay {
  0%, 80%, 100% { -webkit-transform: scale(0) }
  40% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bouncedelay {
  0%, 80%, 100% { 
    -webkit-transform: scale(0);
    transform: scale(0);
  } 40% { 
    -webkit-transform: scale(1.0);
    transform: scale(1.0);
  }
}

// react transitions
.fade-appear {
  opacity: 0.01;
  transition: opacity .5s ease-in;
}

.fade-appear.fade-appear-active {
  opacity: 1;
}

.fade-enter {
  opacity: 0.01;
}

.fade-enter.fade-enter-active {
  opacity: 1;
  transition: opacity .3s ease-in;
}

.fade-leave {
  opacity: 1;
}

.fade-leave.fade-leave-active {
  opacity: 0.01;
  transition: opacity .3s ease-in;
}