$topBarHeight: 70px;

.lobby-view {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;

    .top-bar {
        height: $topBarHeight;
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 100%;
        background: $color-theme-dark-light;
        
        @include box-shadow(0px, 0px, 1vw, rgba(0,0,0,0.5));

        .icon {
            margin-left: 30px;
            margin-right: 30px;
            width: 317px;
            height: 42px;
            background: url("/res/ic_logo.png") bottom left no-repeat;
        }

        .menu-button {
            @include transition(all .3s ease);
            height: 100%;
            text-decoration: none;
            color: $theme-font-color;
            font-size: x-large;
            font-weight: 300;

            padding: 0 20px 0 20px;

            line-height: $topBarHeight;
            border: none;

            background: transparent;

            &:hover {
                background-color: $color-theme-darker;
            }

            &:focus { 
                background-color: darken($color-theme-darker, 5%);
                outline: none;
            }
        }

        .player-menu {
            position: absolute;
            z-index: 2;

            .submenu-button {
                display: inline-block;
                padding: 0.7vw 2vw 0.7vw 2vw;
                align-self: flex-end;
                background-color: $color-theme-dark;
                @include box-shadow(0px, 0px, 1vw, rgba(0,0,0,0.5));
                text-decoration: none;
                color: $theme-font-color;
                border: none;

                min-width: 40px;
                min-height: 40px;

                -webkit-transition: background-color .3s ease, box-shadow .3s ease;
                -moz-transition: background-color .3s ease, box-shadow .3s ease;
                -o-transition: background-color .3s ease, box-shadow .3s ease;
                transition: background-color .3s ease, box-shadow .3s ease;

                &:hover {
                    background-color: $color-theme-darker;
                    @include box-shadow(0px, 0px, 1vw, rgba(0,0,0,0.2));
                }

                &:focus { 
                    background-color: darken($color-theme-darker, 5%);
                    outline: none;
                }
            }
        }

        .player-button {
            font-size: medium;
            font-weight: 400;
        }

        .vertical-spacer {
            flex: 1 0 0;
        }
    }

    .body {
        flex: 1 0 auto;
        display: flex;
        flex-direction: row;

        position: relative;

        .body-left {
            flex: 1 0 auto;
        }

        .body-right {
            display: flex;
            flex-direction: column;

            max-width: 1200px;
            width: 100%;
            flex: 1 0 auto;

            position: relative;

            z-index: 1;

            .top-spacer {
                height: 5vh;
            }
        }

        .overlay {
            position: absolute;
            left: 0;

            width: 100%;
            height: 100%;
        }
    }

    .bottom-sticky {
        position: absolute;
        bottom: 0px;
        width: 100%;
    }

    .options-view {
        z-index: 1;

        top: 0px;
        margin-top: 2vh;
        background: $color-theme-dark-light;
        @include box-shadow(0px, 0px, 1vw, rgba(0,0,0,0.5));

        max-width: 100vw;
        width: 500px;
        display: flex;
        flex-direction: column;

        padding: 0px 20px 20px 20px;

        position: absolute;

        h1 {
            font-size: x-large;
            font-weight: 300;
        }
        
        h2 {
            font-size: medium;
            font-weight: 700;
        }

        h3 {
            font-size: medium;
            font-weight: 400;

            margin-top: 0px;
        }

        p {
        }
    }

    .join-game-view {
        z-index: 1;

        background: $color-theme-dark-light;
        @include box-shadow(0px, 0px, 1vw, rgba(0,0,0,0.5));

        display: flex;
        flex-direction: column;

        padding: 0px 20px 20px 20px;

        h1 {
            font-size: x-large;
            font-weight: 300;
        }

        h2 {
            font-size: large;
            font-weight: 300;
            font-style: italic;
        }

        p {
            margin: 0px;
        }

        .players-list {
            display: flex;
            flex-direction: row;

            .player-obj {
                background-color: lighten($color-theme-dark-light, 5%);
                padding: 10px;
            }
        }
    }

    .new-game-view {
        z-index: 1;

        top: 0px;
        margin-top: 2vh;
        background: $color-theme-dark-light;
        @include box-shadow(0px, 0px, 1vw, rgba(0,0,0,0.5));

        max-width: 40vw;
        display: flex;
        flex-direction: column;

        padding: 0px 20px 20px 20px;

        position: absolute;

        h1 {
            font-size: x-large;
            font-weight: 300;
        }

        p {

        }
    }

    .how-to-play-view {
        z-index: 1;

        top: 0px;
        bottom: 0px;
        margin-top: 2vh;
        margin-bottom: 2vh;
        width: 100%;
        background: $color-theme-dark-light;
        @include box-shadow(0px, 0px, 1vw, rgba(0,0,0,0.5));

        max-width: 40vw;
        display: flex;
        flex-direction: column;

        padding: 0px 20px 20px 20px; 
        
        position: absolute;

        h1 {
            font-size: x-large;
            font-weight: 300;
        }

        h2 {
            font-size: large;
            font-weight: 700;

            margin-bottom: 0px;
        }

        h3 {
            font-size: medium;
            font-weight: 700;

            margin-bottom: 0px;   
        }

        .instructions-container {
            flex: 1 0 0;
        }

        .instructions {
            // margin-right: 20px; // this causes the scrollbar to appear in firefox... ugh
        }
    }

    .about-view {
        z-index: 1;

        top: 0px;
        margin-top: 2vh;
        margin-bottom: 2vh;
        background: $color-theme-dark-light;
        @include box-shadow(0px, 0px, 1vw, rgba(0,0,0,0.5));

        max-width: 40vw;
        display: flex;
        flex-direction: column;

        padding: 0px 20px 20px 20px; 
        
        position: absolute;

        h1 {
            font-size: x-large;
            font-weight: 300;
        }

        h2 {
            font-size: large;
            font-weight: 700;

            margin-bottom: 0px;
        }

        h3 {
            font-size: medium;
            font-weight: 700;

            margin-bottom: 0px;   
        }
    }

    .options-container {
        margin-top: 3vh;
        align-self: flex-end;
        
        a {
            margin-left: 10px;
        }
    }

    .input {
        border-style: none;
        background-color: darken($color-theme-dark-light, 5%);
        color: $theme-font-color;
        font-family: $theme-body-style;
        font-weight: 300;
        font-size: medium;

        @include transition(all 0.3s ease-in-out);
        outline: none;
        padding: 0.67vw;
        border: none;

        margin-bottom: 1em;
    }

    .select-container {
        overflow: hidden;
        background: url("/res/select_triangle.png") no-repeat right;
        background-position: right 10px center;
        background-color: darken($color-theme-dark-light, 5%);

        margin-bottom: 1em;

        .theme-select {
            width: 100%;

            -moz-appearance: none;
            -webkit-appearance: none;
            appearance: none;

            background: transparent;
            border-style: none;
            color: $theme-font-color;
            font-family: $theme-body-style;
            font-weight: 300;
            font-size: medium;

            @include transition(all 0.3s ease-in-out);
            outline: none;
            padding: 0.67vw;
            border: none;
        }

        option {
            background-color: darken($color-theme-dark-light, 5%);
            border-style: none;
            color: $theme-font-color;
            font-family: $theme-body-style;
            font-weight: 300;
            font-size: medium;

            outline: 0px;
            border: 0px;
        }
    }

    .rooms-list {
        display: flex;
        flex-direction: column;

        background: $color-theme-dark-light;

        flex: 1 0 auto;
        overflow: hidden;

        .sortable {
            @include transition(background .3s ease);

            &:hover {
                background: $color-theme-dark;
            }
        }

        .resizable {
            width: 4px;
            background: darken($color-theme-dark-light, 3%);
            cursor: w-resize;

            margin-top: 8px;
            margin-bottom: 8px;
        }

        .resizable-spacer {
            width: 4px;
        }

        .list-header {
            @include box-shadow(0px, 0px, 1vw, rgba(0,0,0,0.5));
            z-index: 1;
        }

        .list-body {
            flex: 1 0 0;
        }

        .list-item {
            display: flex;
            flex-direction: row;
            background: $color-theme-dark-light;

            div {
                white-space: nowrap;
                text-overflow: ellipsis;
                overflow: hidden;
            }
        }

        .col {
            padding: 16px 10px 16px 10px;
        }

        .selectable {
            @include transition(background .3s ease);

            // &:hover {
            //     background: $color-theme-light-dark;
            // }
        }

        .join-game-button {
            flex: 1 0 90px;
            border-radius: 5px;
            background-color: $color-theme-dark;
            text-decoration: none;
            color: $theme-font-color;
            border: none;
            @include transition(background .3s ease);

            margin: 5px 10px 5px 10px;

            &:hover {
                background-color: $color-theme-darker;
            }

            &:focus { 
                background-color: darken($color-theme-darker, 5%);
                outline: none;
            }
        }

        .sync-button {
            border: 6px solid $color-theme-dark;
            background: url("/res/ic_sync_white.png") no-repeat center $color-theme-dark;
            background-size: contain;
        }
    }

    .vertical-divider {
        margin-top: 10px;
        margin-bottom: 10px;
        height: 80%;
        border-left: thick solid $color-divider;
    }
}