.menu-bar-container {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    display: flex;
    align-items: center;
}

.menu-bar {
    background-color: $color-theme-dark;

    display: flex;
    flex-direction: column;

    .item {
        display: block;
        padding: 10px;
        min-width: 48px;
        min-height: 48px;

        width: 3vw;
        height: 3vw;

        position: relative;

        img {
            max-width: 100%;
            max-height: 100%;
        }

        &:hover {
            background-color: $color-theme-darker;
        }
    }

    .show-hints {
        width: 100%;
        height: 100%;
        background: url('res/ic_info.png');
        background-size: cover;
    }

    .hide-hints {
        background: url('res/ic_hide_hints.png');
        background-size: cover;
    }
}