.option-item {
    display: flex;
    flex-direction: row;
    align-items: center;

    input[type='checkbox'] {
        flex: 1 0 auto;
        margin-right: 10px;
        display:none;
    }
    input[type="checkbox"] + label span {
        display:inline-block;
        width: 38px;
        height: 38px;
        background: url(/res/checkbox.png) left top no-repeat;
        cursor:pointer;
        @include transition(all .3s ease);
    }
    input[type="checkbox"]:checked + label span {
       background: url(/res/checkbox.png) -38px top no-repeat;
    }
}