.sign-in-view {
    height: 100%;
    max-width: 790px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;

    a {
        @include transition(all .3s ease);
        display: inline-block;
        align-self: flex-end;
        text-decoration: none;
        color: $theme-font-color;
        font-weight: 700;

        &:hover {
            background-color: $color-theme-darker;
        }
    }

    h1 {
        font-weight: 200;
        font-size: 6vh;
        margin: 0;
        color: #fff;
    }

    h2 {
        font-weight: 300;
        font-size: 2vh;
        margin: 10px 0 0px 0;
    }

    p.low-margin {
        margin: 0.5em 0 0 0;
    }
    
    p {
        margin: 1em 0 0 0;
    }

    .text-field {
        background: rgba(0, 0, 0, 0.1);
        margin-top: 10px;
    }

    .logo-small {
        background: url(/res/ic_logo.png) no-repeat center;
        background-size: contain;
        width: 790px;
        height: 3vh;
        margin: 5vh 0 5vh 0;
    }

    .theme-button {
        margin-top: 16px;
    }

    .sign-in-inner-container {
        margin-top: 4vh;
        max-width: 790px;
        display: flex;
        flex-direction: row;
        align-items: center;

        width: 100%;

        position: relative;

        .left-side {
            margin-left: 1vw;
            margin-right: 1vw;

            flex: 1 0 0;
            display: flex;
            flex-direction: column;
        }

        .right-side {
            margin-left: 1vw;
            margin-right: 1vw;

            flex: 1 0 0;
            display: flex;
            flex-direction: column;

            h2 {
                margin-bottom: 10px;
            }

            .name-input {
                width: 100%;

                border-style: none;
                background-color: $color-theme-dark-light;
                color: $theme-font-color;
                font-family: $theme-body-style;
                font-weight: 300;
                font-size: medium;

                @include transition(all 0.3s ease-in-out);
                outline: none;
                padding: 1vw;
                border: none;

                margin-bottom: 1em;
            }
        }

        .vertical-divider {    
            align-self: stretch;
            max-height: 50vh;
            border-left: thick solid $color-divider;
            border-width: 0.25vw;
        }
    }

    .sign-up-banner-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        margin-top: 1vh;
    }
}