$color-theme: #222356;
$color-theme-light: #393967;
$color-theme-lighter: #4e4f78;
$color-theme-darker: #11112b;
$color-theme-dark: #141534;
$color-theme-dark-light: #1f1f4d;

$theme-body-style: 'Roboto', sans-serif;
$theme-condensed-style: 'Roboto Condensed', sans-serif;
$theme-font-color: #ddd;

$card-blue: #4372b8;
$card-green: #018f21;
$card-red: #e30000;
$card-white: #ffffff;
$card-yellow: #dad722;

$color-soft-red: #D93838;
$color-soft-green: #249608;

$color-theme-second: #131313;
$color-divider: #1b1b43;

a.theme-button {
	@include transition(all .3s ease);
	display: inline-block;
	padding: 0.7vw 2vw 0.7vw 2vw;
	align-self: flex-end;
	background-color: $color-theme-dark;
	@include box-shadow(0px, 0px, 1vw, rgba(0,0,0,0.5));
	text-decoration: none;
	color: $theme-font-color;

    &:hover {
        background-color: $color-theme-darker;
    }
}

button.theme-button {
	display: inline-block;
	padding: 0.7vw 2vw 0.7vw 2vw;
	align-self: flex-end;
	background-color: $color-theme-dark;
	@include box-shadow(0px, 0px, 1vw, rgba(0,0,0,0.5));
	text-decoration: none;
	color: $theme-font-color;
	border: none;

	min-width: 40px;
	min-height: 40px;

	-webkit-transition: background-color .3s ease, box-shadow .3s ease;
    -moz-transition: background-color .3s ease, box-shadow .3s ease;
    -o-transition: background-color .3s ease, box-shadow .3s ease;
    transition: background-color .3s ease, box-shadow .3s ease;

	&:hover {
		background-color: $color-theme-darker;
		@include box-shadow(0px, 0px, 1vw, rgba(0,0,0,0.2));
	}

	&:focus { 
		background-color: darken($color-theme-darker, 5%);
		outline: none;
	}
}

div.theme-dialog {
	display: flex;
	flex-direction: column;
	background: $color-theme-second;
	padding: 20px;

	border-radius: 5px;

	@include box-shadow(0px, 0px, 32px, rgba(0,0,0,0.5));
}


div.options-container {
	margin-top: 3vh;
	align-self: flex-end;
	
	button {
		margin-left: 10px;
	}
}


// range input...


$track-color: lighten($color-theme-dark-light, 20%);
$thumb-color: $color-theme-light;

$thumb-radius: 8px;
$thumb-height: 30px;
$thumb-width: 30px;
$thumb-shadow-size: 2px;
$thumb-shadow-blur: 2px;
$thumb-shadow-color: #111;
$thumb-border-width: 0px;
$thumb-border-color: transparent;

$track-width: 100%;
$track-height: 5px;
$track-shadow-size: 0px;
$track-shadow-blur: 0px;
$track-shadow-color: #222;
$track-border-width: 0px;
$track-border-color: transparent;

$track-radius: 0px;
$contrast: 5%;

@mixin shadow($shadow-size,$shadow-blur,$shadow-color) {
	box-shadow: $shadow-size $shadow-size $shadow-blur $shadow-color, 0px 0px $shadow-size lighten($shadow-color,5%);
}

@mixin track() {
	width: $track-width;
	height: $track-height;
	cursor: pointer;
	animate: 0.2s;
}

@mixin thumb() {
	@include shadow($thumb-shadow-size,$thumb-shadow-blur,$thumb-shadow-color);
	border: $thumb-border-width solid $thumb-border-color;
	height: $thumb-height;
	width: $thumb-width;
	border-radius: $thumb-radius;
	background: $thumb-color;
	cursor: pointer;
}

input[type=range] {
	-webkit-appearance: none;
	margin: $thumb-height/2 0;
	width: $track-width;

	&:focus {
		outline: none;
	}

	&::-webkit-slider-runnable-track {
		@include track();
		@include shadow($track-shadow-size,$track-shadow-blur,$track-shadow-color);
		background: $track-color;
		border-radius: $track-radius;
		border: $track-border-width solid $track-border-color;
	}
	
	&::-webkit-slider-thumb {
		@include thumb();
		-webkit-appearance: none;
		margin-top: ((-$track-border-width * 2 + $track-height) / 2) - ($thumb-height / 2);
	}

	&:focus::-webkit-slider-runnable-track {
		background: lighten($track-color, $contrast);
	}

	&::-moz-range-track {
		@include track();
		@include shadow($track-shadow-size,$track-shadow-blur,$track-shadow-color);
		background: $track-color;
		border-radius: $track-radius;
		 border: $track-border-width solid $track-border-color;
	}
	&::-moz-range-thumb {
		@include thumb();
	}

	&::-ms-track {
		@include track(); 
		background: transparent;
		border-color: transparent;
		border-width: $thumb-width 0;
		color: transparent;
	}

	&::-ms-fill-lower {
		background: darken($track-color, $contrast);
		border: $track-border-width solid $track-border-color;
		border-radius: $track-radius*2;
		@include shadow($track-shadow-size,$track-shadow-blur,$track-shadow-color);
	}
	&::-ms-fill-upper {
		background: $track-color;
		border: $track-border-width solid $track-border-color;
		border-radius: $track-radius*2;
		@include shadow($track-shadow-size,$track-shadow-blur,$track-shadow-color);
	}
	&::-ms-thumb {
		@include thumb();
	}
	&:focus::-ms-fill-lower {
		background: $track-color;
	}
	&:focus::-ms-fill-upper {
		background: lighten($track-color, $contrast);
	}
}

select {
   -webkit-appearance: none;
   -moz-appearance: none;
   appearance: none;
}