$color-theme: #222356;
$color-theme-light: #393967;
$color-theme-lighter: #4e4f78;
$color-theme-darker: #11112b;
$color-theme-dark: #141534;

$theme-body-style: 'Roboto', sans-serif;
$theme-condensed-style: 'Roboto Condensed', sans-serif;
$theme-font-color: #ddd;

$card-blue: #4372b8;
$card-green: #018f21;
$card-red: #e30000;
$card-white: #ffffff;
$card-yellow: #dad722;

$color-soft-red: #D93838;
$color-soft-green: #249608;

$color-theme-second: #131313;