.notransition {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -o-transition: none !important;
  -ms-transition: none !important;
  transition: none !important;
}

@mixin pulse($name, $color) {
    .#{$name} {
        -webkit-animation: #{$name}-animation 1s infinite alternate;
        -moz-animation: #{$name}-animation 1s infinite alternate;
        -animation: #{$name}-animation 1s infinite alternate;
    }

    @-webkit-keyframes #{$name}-animation {
        from { @include box-shadow(0px, 0px, 16px, rgba(0,0,0,0.5)); }
        to { @include box-shadow(0px, 0px, 16px, $color); }
    }
    @-moz-keyframes #{$name}-animation {
        from { @include box-shadow(0px, 0px, 16px, rgba(0,0,0,0.5)); }
        to { @include box-shadow(0px, 0px, 16px, $color); }
    }
    @keyframes #{$name}-animation {
        from { @include box-shadow(0px, 0px, 16px, rgba(0,0,0,0.5)); }
        to { @include box-shadow(0px, 0px, 16px, $color); }
    }
}

@mixin strong-pulse($name, $color) {
    .#{$name} {
        -webkit-animation: #{$name}-animation 1s infinite alternate;
        -moz-animation: #{$name}-animation 1s infinite alternate;
        -animation: #{$name}-animation 1s infinite alternate;
    }

    @-webkit-keyframes #{$name}-animation {
        from { @include box-shadow(0px, 0px, 16px, rgba($color, 0.5)); }
        to { @include box-shadow(0px, 0px, 16px, $color); }
    }
    @-moz-keyframes #{$name}-animation {
        from { @include box-shadow(0px, 0px, 16px, rgba($color, 0.5)); }
        to { @include box-shadow(0px, 0px, 16px, $color); }
    }
    @keyframes #{$name}-animation {
        from { @include box-shadow(0px, 0px, 16px, rgba($color, 0.5)); }
        to { @include box-shadow(0px, 0px, 16px, $color); }
    }
}

@include pulse(blue-pulse, $card-blue);
@include pulse(green-pulse, $card-green);
@include pulse(red-pulse, $card-red);
@include pulse(white-pulse, $card-white);
@include pulse(yellow-pulse, $card-yellow);

@include strong-pulse(strong-blue-pulse, $card-blue);
@include strong-pulse(strong-green-pulse, $card-green);
@include strong-pulse(strong-red-pulse, $card-red);
@include strong-pulse(strong-white-pulse, $card-white);
@include strong-pulse(strong-yellow-pulse, $card-yellow);

.hand-container {
    margin-left: 10vw;
    @include transition(all 0.3s ease);

    @include keyframes(anim-draw) {
        0% {  
            transform: translateY(20vw);
        }
        100% {
            transform: translateY(0);
        }
    }

    @include keyframes(be-gone) {
        0% {  
            width: 20vw;
        }
        100% {
            width: 0vw;
        }
    }

    .card-draw {
        @include animation('anim-draw 0.3s ease');
    }

    .shift {
        @include transform(translateX(-20vw / 2));
    }

    .right-half-shift {
        @include transform(translateX(5vw));
    }

    .left-half-shift {
        @include transform(translateX(-5vw));
    }

    span {
        display: inline-block;
    }

    .animate-gone {
        width: 0vw;
        @include animation('be-gone 0.3s ease');
    }

    img {
        width: 20vw;
        position: relative;

        @include box-shadow(0px, 0px, 16px, rgba(0,0,0,0.5));
        @include radius(1.6vw);
        @include transition(all .3s ease);
    }

    .card-in-hand {
        margin-left: -10vw;
        margin-top: 6vh;
        position: relative;
        @include transition(all 0.3s ease);
    }

    .card-container {
        @include transition(all 0.3s ease);
        z-index: 1;

        display: inline-block;

        position: relative;

        .card {
            @include transition(all 0.3s ease);
            transform-style: preserve-3d;
            width: 100%;
            height: 100%;

            .front {
                position: absolute;
                top: 0px;
                left: 0px;
                width: 100%;
                height: 100%;
                backface-visibility: hidden;
            }

            .back {
                display: block;
                transform: rotateY(180deg);
                backface-visibility: hidden;
            }
        }
    }

    .card-container {
        position: relative;
        -webkit-perspective: 1000px;
        -moz-perspective: 1000px;
        -o-perspective: 1000px;
        perspective: 1000px;
    }

    .hoverable:hover {
        @include transform(translateY(-1vh));
    }

    .flip {
        transform: rotateY(180deg);
    }
    
    .active-card {
        @include transform(translateY(-5vh));
    }

    .hint-decor {
        position: absolute;
        top: 2vh;
        left: 5vh;
        z-index: 10;
        font-size: 4vw;
        opacity: 0.25;
        color: white;
    }

    .menu-container {
        width: 100%;
        position: absolute;
        @include transform(translateY(-5vh));
        display: flex;
        justify-content: center;

        ul.menu {
            margin: 0;
            list-style-type: none;
            padding: 0px;
            display: inline-block;
            @include box-shadow(0px, 5px, 16px, rgba(0,0,0,0.5));
            background-color: $color-theme;

            a {
                padding: 16px 30px 16px 30px;
                min-width: 10vw;
                text-align: center;
                @include transition(all .3s ease);
                display: block;
                background-color: $color-theme;
                text-decoration: none;
                color: $theme-font-color;
            }

            a:hover {
                background-color: $color-theme-light;
            }
        }
    }

    .fade-in-appear {
        opacity: 0.01;
        transition: opacity .3s ease-in;
    }

    .fade-in-appear.fade-in-appear-active {
        opacity: 1;
    }
}